*{
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
 }
nav{
    display: flex;
    padding: 50px 100px;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    margin-left:20px;
}
.nav-logo img{
    padding-right:8px;
    width:20%;
}
.nav-title{
    font-size: 30px;
    font-weight: 700;
}
.nav-title-color{
    color:rgb(255, 84, 0)
}
nav ul{
    display: flex;
}
ul li{
    list-style: none;
    padding-left:40px
}
li a{
    text-decoration: none;
    color: rgb(66, 66, 71);
    font-weight: 500;
}
.nav-menu-color{
    color: rgb(255,84,0);
    font-weight: 600;
}
 .banner{
    display: block;
    max-width: 1170px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: 1170px 500px;
    background-position: center;
}
.banner h1,p{
    color:  coral;
}
.banner p{
    color:white;
}
.banner-heading{
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
}
.banner-des
{
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 80px;
}

.banner-container{
    position:relative;
    top: 110px;
}
.search-bar{
    background: rgba(255, 255, 255, 0.4);
    padding: 10px;
    max-width: 750px;
    margin: 0 auto;
    border-radius: 10px;
}
.search-des{
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin-right: 40px;
}
.btn-primary{
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: rgb(255, 84, 0);
    
}
.btn-primary i{
    padding-right: 5px;
}
/* body starts here */

.tour-hist{
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}
.travel-dest{
    margin-top:50px;
    width: 600px;
    height: 466px;
}
#one{
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#two{
    color: black;
    font-weight: 300;
    font-size: 17px;
    padding-bottom: 10px;
}

.colored-bullets{
    font-size: 17px;
    font-weight: 300;
}

.colored-bullets li {
    list-style-type: disc;
    position: relative;
    left: 20px;
    padding: 0;
    margin-bottom: 20px;
}
.btn-btn-primary{
    padding: 15px;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 84, 0);
    color: white;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
}
.dest-image img{
width: 500px;
height: 500px;
border-radius: 18px;
}

  /* destination starts here */
 .des-title, .dest-des{
    color: black;
    text-align: center;
 }
 .des-title{
    margin-top: 50px;
 }

 .dest-des{
    margin-top: 10px;
    margin-bottom: 50px;
 }
 
.des-card1,.des-card2,.des-card3{
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    gap: 15px;
}
#im3{
    width: 286px;
    height: 284px;
}
.des-dest{
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom:30px ;
}
 .card-text{
    text-align: center;
    position: relative;
    bottom: 160px;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    font-family: 'Mulish';
    font-weight: 700;
 }
/* services starts here */
.choose-item{
    display: flex;
    gap: 30px;
    max-width: 1170px;
    margin: 0 auto;
}
.choose-container img{
    width: 54px;
    height: 54px;
    padding-left: 30px;
    padding-top: 30px;
}
.hotels{
    background: rgba(255, 210, 180, 0.2);
    height:250px ;
    width: 585px;
    border-radius: 15px;
    cursor: pointer;
}
.locations{
    background: rgba(209, 240, 247, 0.8);
    height:250px ;
    width: 585px;
    border-radius: 15px;
    cursor: pointer;
}
.choose-container, h3{
    padding:10px 30px;
    font-weight: 700;
}
.hotel-des{
    color: black;
    font-size: 15px;
    font-weight: 400;
    padding-left: 30px;
}
.prices{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 20px;
    background:rgba(255, 210, 180, 0.2);
    height:250px ;
    width: 585px;
    border-radius: 15px;
    cursor: pointer;
    padding-bottom: 20px;
}

/* another sec */
.tour-content{
    background-image: url('../Images/Group\ 39.png');
    background-repeat: no-repeat;
    height: 500px;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.tour-info i{
    display: inline-flex;
    padding-top: 60px;
    position: relative;
    left: 50px;
    gap: 8px;
    color: rgb(255,84,0);
}
#text-space{
    padding-right: 20px;
    color: black;
    font-weight: 500;
    padding-bottom: 15px;
}
#text-title{
    padding-left: 50px;
}
#text-para{
    color: black;
    padding-left: 50px;
    padding-bottom: 15px;
}
#text-price{
    padding-left: 50px;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 20px;
}
#text-button{
    margin-left: 50px;
    cursor: pointer;
}

.tour-overplay{
    background-color:rgba(205, 242, 251,0.8);
    width: 570px;
    height: 380px;
    position: relative;
    left: 530px;
    top: 70px;
    border-radius: 10px;
    
}
.tour-content2{
    background-image: url('../Images/Group\ 39.png');
    background-repeat: no-repeat;
    transform: scaleX(-1);
    height: 500px;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.tour-overplay2{
    background-color:rgba(205, 242, 251,0.8);
    width: 570px;
    height: 380px;
    position: relative;
    left: 530px;
    top: 70px;
    border-radius: 10px;
    transform: scaleX(-1);
}
.btn-package{
    text-align: center;
}
.btn-btn-pack{
    padding: 18px 25px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 84, 0);
    color: white;
    font-weight:600;
    font-size: 17px;
    margin-top: 30px;
    cursor: pointer;
}

.beautiful-bangladesh{
    display: flex;
    max-width: 1170px;
    margin: 100px auto;
    gap: 30px;
}
.beautiful-place p{
    color: black;
    font-weight: 300;
    padding-bottom: 37px;
}
.beautiful-place h2{
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 30px;
    padding-top: 20px;
}

.beautiful-video img{
    width:600px ;
    height: 400px;
}

.list-style{
    list-style-type: disc;
    position: relative;
    left: 30px;
}
.list-style>p{
    position: relative;
    right: 30px;
    bottom: 1px;
    font-size: 16px;
    font-weight: 700;
}
.offers{
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    gap: 20px;

}
.offers-det{
    border: 1px solid rgb(255, 84, 0);
    border-radius: 5px;
    height: 422px;
    width: 474px;
}

.offers-det>h4{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 25px;
}
.offers-det>p{
    margin-left: 30px;
    font-size: 20px;
    color: black;
    font-weight: 300;
    margin-bottom: 40px;
}
hr{
  width: 87%;
  border: 1px solid gray;
  margin-bottom: 30px;
  margin-left: 30px;
}
.user-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.user-info input[type="text"],
.user-info input[type="email"]{
  width: 80%;
  padding: 13px;
  font-size: 15px;
  border-radius: 10px;
  margin-left: 37px;
  background-color: #F3F3F3;
}

.subscribe{
    padding: 13px;
    border-radius: 10px;
    border: none;
    width: 86%;
    margin-left:37px ;
    background-color: rgb(255, 84, 0);
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.offers-limit img{
    width: 670px;
    height:420px;
    border-radius: 14px;
}

.offers-banner{
    position: relative;
    left: 330px;
    bottom: 176px;
    background-color: rgba(255, 84, 0,0.9);
    width: 324px;
    height: 123px;
    text-align: center;
    border-radius: 15px;
    transform: rotate(-19.63deg);
    color: #F3F3F3;
}
.offers-banner >p{
    color: #F3F3F3;
    font-size: 25px;
    font-weight: 500;
    padding-top: 25px;
}

/* footer starts here */
.footer-panel{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    width: 1440px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}
.footer-logo img{
    width: 40px;
    height: 40px;
}
.footer-hr{
    width: 60%;
    margin: 30px 0;
}
.footer-text{
    max-width: 770px;
    color: black;
    font-weight: 300;
}
.footer-copyright{
    color:crimson;
    font-size: 17px;
    font-weight: 600;
}
@media screen and (max-width:576px) {

    nav{
        display: flex;
        flex-direction:column;
        padding: 0;
    }
    ul li{
        padding-left:15px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .banner{
        text-align: center;
        margin: 0 auto;
        background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
        background-repeat: no-repeat;
        background-size: 390px 483px;
        background-position: center;
    
    }
    .banner-heading{
        font-size: 35px;
        position: relative;
        bottom: 60px;
    }
    .banner-des{
        padding: 0;
        font-size: 15px;
        max-width: 380px;
        margin: 0 auto;
        position: relative;
        bottom: 60px;
        font-weight: 700;
    }

    .search-bar{
        background: rgba(255, 255, 255, 0.4);
        padding: 10px;
        max-width: 330px;
        margin: 0 auto;
        border-radius: 10px;
        height: 230px;
    }
    .search-bar, .search-des, .btn-primary{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 15px;
        top: 2px;
    }
    .btn-primary{
        position: relative;
        left: 1px;
    }

    #travel-place{
        width: 250px;
        margin-bottom: 10px;
        border: none;
        position: relative;
        left: 22px;
    }
    #travel-time{
        width: 280px;
        margin-bottom: 10px;
        border: none;
        position: relative;
        left: 22px;
    }
    #tour-time{
        width: 280px;
        position: relative;
        right: 20px;
    }
    .btn-primary{
        border-radius: 10px;
        border: none;
        color: white;
        background-color: rgb(255, 84, 0);
        display: inline;
    }

    .tour-hist{
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .travel-dest{
        max-width: 390px;
        margin-bottom: 50px;
    }
    #one{
        font-size: 25px;
    }
    #two{
        font-size: 14px;
    }
    .colored-bullets{
        font-size: 14px;
    }

    .dest-image img{
        width: 390px;
        height: 350px;
        border-radius: 18px;
    }

    .des-card1,.des-card2,.des-card3{
        display: flex;
        flex-direction: column;
        max-width: 390px;
        margin: 0 auto;
        gap: 5px;
    }

    .des-card1 img{
        width: 390px;
        height: 176px;
    }
    .des-card2 img{
        width: 390px;
        height: 176px;
    }
    .des-card3 img{
        width: 390px;
        height: 176px;
    }

    #im3{
        width: 390px;
        height: 176px;
    }

    .des-title{
        margin-top: 0;
    }
    .card-text{
        text-align: center;
        position: relative;
        bottom: 110px;
        color: white;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 25px;
        font-family: 'Mulish';
        font-weight: 700;
     }
     .choose-container{
        padding: 0;
     }
     .choose-item{
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 390px;
        margin: 0 auto;
    }

    .hotels{
        background: rgba(255, 210, 180, 0.2);
        height:260px ;
        width: 390px;
        border-radius: 15px;
        cursor: pointer;
    }
    .locations{
        background: rgba(209, 240, 247, 0.8);
        height:260px ;
        width: 390px;
        border-radius: 15px;
        cursor: pointer;
    }

    .prices{
        margin-top: 20px;
        background:rgba(255, 210, 180, 0.2);
        height:260px ;
        width: 390px;
        border-radius: 15px;
        cursor: pointer;
        padding-bottom: 20px;
    }

    .tour-content{
        background-image: url('../Images/Group\ 39.png');
        background-repeat: no-repeat;
        height: 500px;
        max-width: 390px;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .tour-content2{
        background-image: url('../Images/Group\ 39.png');
        background-repeat: no-repeat;
        height: 500px;
        max-width: 390px;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .tour-overplay{
        background-color:rgba(205, 242, 251,0.8);
        width: 310px;
        height: 300px;
        position: relative;
        left: 45px;
        top: 80px;
        border-radius: 10px;
    }
    .tour-overplay2{
        background-color:rgba(205, 242, 251,0.8);
        width: 310px;
        height: 300px;
        position: relative;
        left: 40px;
        top: 100px;
        border-radius: 10px;
        transform: scaleX(-1);
    }

    .tour-info i{
        display: inline-flex;
        padding-top: 20px;
        position: relative;
        left: 30px;
        gap: 5px;
        color: rgb(255,84,0);
    }
    #text-space{
        padding-right: 10px;
        color: black;
        font-weight: 500;
        padding-bottom: 5px;
    }
    #text-title{
        padding-left: 25px;
        font-size: 15px;
    }
    #text-para{
        color: black;
        padding-left: 25px;
        padding-bottom: 10px;
        font-size: 13px;
    }
    #text-price{
        padding-left: 25px;
        font-weight: 700;
        font-size: 16px;
        padding-bottom: 10px;
    }
    #text-button{
        margin-left: 25px;
        cursor: pointer;
    }
    .des-title{
        margin-top: 20px;
    }
    .dest-des{
        max-width: 390px;
        font-size: 12px;
        margin: 15px auto;
    }
    .beautiful-bangladesh{
        display: flex;
        flex-direction: column;
        max-width: 390px;
        margin: 50px auto;
        gap: 15px;
    }
    .beautiful-place h2{
        font-size: 25px;
        padding-top:0;
        padding-bottom: 15px;
    }
    .beautiful-place p{
        max-width: 390px;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        padding-bottom: 7px;
        
    }
    .list-style{
        list-style-type: disc;
        position: relative;
        left: 15px;  
    }
    .list-style >p{
        padding-left: 10px;
        padding-bottom: 5px;
        font-size: 12px;
    }
    .beautiful-video img{
        width: 390px;
        height: 250px;
    }
    .offers{
        display: flex;
        flex-direction: column;
        max-width: 390px;
        margin: 0 auto;
        gap: 20px;
    }
    .offers-det{
        border: 1px solid rgb(255, 84, 0);
        border-radius: 5px;
        height: 390px;
        width: 390px;
    }

    .offers-limit img{
        width: 390px;
        height:300px;
        border-radius: 14px;
    }
    .offers-banner{
        width: 214px;
        height: 80px;
        position: relative;
        left: 170px;
        bottom: 115px;
    }
    .offers-banner>p{
        padding:0;
        font-size: 20px;
        position: relative;
        top: 13px;

    }
    .offers-banner>h2{
        padding-top: 10px;
        font-size: 18px;
        margin-left: 15px;
        
    }

    .offers-det>h4{
        margin: 10px 30px;
        font-size: 20px;
        padding-top: 30px;
    }
    .offers-det>p{
        margin: 10px 30px;
        font-size: 17px;
    }

.user-info input[type="text"],
.user-info input[type="email"]{
  width: 75%;
  padding: 13px;
  font-size: 15px;
  border-radius: 10px;
  margin-left: 37px;
  background-color: #F3F3F3;
}
hr{
    width: 83%;
}
.subscribe{
    width: 83%;
}
.footer-panel{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    max-width: 390px;
    margin: 0 auto;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}
.footer-logo img{
    width: 40px;
    height: 40px;
}
.footer-hr{
    width: 60%;
    margin: 30px 0;
}
.footer-text{
    max-width: 380px;
    color: black;
    font-weight: 300;
    font-size: 12px;
}
.footer-copyright{
    color:crimson;
    font-size: 17px;
    font-weight: 600;
} 

}

@media screen and (min-width:576px) and (max-width:1096px){
    nav{
        display: flex;
        flex-direction:column;
        padding:0;
    }
    ul li{
        padding-left:40px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .banner{
        text-align: center;
        margin: 0 auto;
        background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
        background-repeat: no-repeat;
        background-size: 490px 983px;
        background-position: center;
    
    }
    .banner-heading{
        font-size: 40px;
        position: relative;
        bottom: 65px;
    }
    .banner-des{
        padding: 0;
        font-size: 15px;
        max-width: 480px;
        margin: 0 auto;
        position: relative;
        bottom: 70px;
        font-weight: 700;
    }

    .search-bar{
        background: rgba(255, 255, 255, 0.4);
        padding: 10px;
        max-width: 400px;
        margin: 0 auto;
        border-radius: 10px;
        height: 240px;
        position: relative;
    }
    .search-bar, .search-des, .btn-primary{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 15px;
    }

    #travel-place{
        width: 350px;
        margin-bottom: 10px;
        border: none;
        position: relative;
        top: 10px;
    }
    #travel-time{
        width: 380px;
        margin-bottom: 10px;
        border: none;
        position: relative;
        top: 10px;
    }
    .btn-primary{
        border-radius: 10px;
        border: none;
        color: white;
        background-color: rgb(255, 84, 0);
        display: inline;
        position: relative;
        top: 10px;
    }

    #travel-place{
        width: 250px;
        margin-bottom: 10px;
        border: none;
        position: relative;
        left: 22px;
    }
    #travel-time{
        width: 280px;
        margin-bottom: 10px;
        border: none;
        position: relative;
        left: 22px;
    }
    #tour-time{
        width: 280px;
        position: relative;
        right: 20px;
    }
    .btn-primary{
        border-radius: 10px;
        border: none;
        color: white;
        background-color: rgb(255, 84, 0);
        display: inline;
        position: relative;
        left: 2px;
    }

    .tour-hist{
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .travel-dest{
        max-width: 490px;
        height: 535px;
        margin-bottom: 50px;
    }
    #one{
        font-size: 35px;
    }
    #two{
        font-size: 17px;
    }
    .colored-bullets{
        font-size: 17px;
    }

    .dest-image img{
        width: 490px;
        height: 450px;
        border-radius: 18px;
        }

        .des-card1,.des-card2,.des-card3{
            display: flex;
            flex-direction: column;
            max-width: 490px;
            margin: 0 auto;
            gap: 5px;
        }
    
        .des-card1 img{
            width: 490px;
            height: 280px;
        }
        .des-card2 img{
            width: 490px;
            height: 280px;
        }
        .des-card3 img{
            width: 490px;
            height: 280px;
        }
    
        #im3{
            width: 490px;
            height:280px;
        }
    
        .des-title{
            margin-top: 10px;
        }
        .card-text{
            text-align: center;
            position: relative;
            bottom: 170px;
            color: white;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            font-size: 35px;
            font-family: 'Mulish';
            font-weight: 700;
         }
         .choose-container{
            padding: 0;
         }
         .choose-item{
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 490px;
            margin: 0 auto;
        }
    
        .hotels{
            background: rgba(255, 210, 180, 0.2);
            height:260px ;
            width: 490px;
            border-radius: 15px;
            cursor: pointer;
        }
        .locations{
            background: rgba(209, 240, 247, 0.8);
            height:260px ;
            width: 490px;
            border-radius: 15px;
            cursor: pointer;
        }
    
        .prices{
            margin-top: 20px;
            background:rgba(255, 210, 180, 0.2);
            height:260px ;
            width: 490px;
            border-radius: 15px;
            cursor: pointer;
            padding-bottom: 20px;
        }
        .tour-content{
            background-image: url('../Images/Group\ 39.png');
            background-repeat: no-repeat;
            height: 500px;
            max-width: 490px;
            margin: 0 auto;
            padding-bottom: 20px;
        }
        .tour-content2{
            background-image: url('../Images/Group\ 39.png');
            background-repeat: no-repeat;
            height: 500px;
            max-width: 490px;
            margin: 0 auto;
            padding-bottom: 30px;
        }

        .tour-overplay{
            background-color:rgba(205, 242, 251,0.8);
            width: 390px;
            height: 320px;
            position: relative;
            left: 45px;
            top: 80px;
            border-radius: 10px;
        }
        .tour-overplay2{
            background-color:rgba(205, 242, 251,0.8);
            width: 390px;
            height: 320px;
            position: relative;
            left: 40px;
            top: 100px;
            border-radius: 10px;
            transform: scaleX(-1);
        }
    
        .tour-info i{
            display: inline-flex;
            padding-top: 50px;
            position: relative;
            left: 30px;
            gap: 5px;
            color: rgb(255,84,0);
        }
        #text-space{
            padding-right: 10px;
            color: black;
            font-weight: 500;
            padding-bottom: 5px;
        }
        #text-title{
            padding-left: 25px;
            font-size: 22px;
        }
        #text-para{
            color: black;
            padding-left: 25px;
            padding-bottom: 10px;
            font-size: 16px;
        }
        #text-price{
            padding-left: 25px;
            font-weight: 700;
            font-size: 17px;
            padding-bottom: 10px;
        }
        #text-button{
            margin-left: 25px;
            cursor: pointer;
        }
        .des-title{
            margin-top: 20px;
        }
        .dest-des{
            max-width: 490px;
            font-size: 17px;
            margin: 20px auto;
        }

        .beautiful-bangladesh{
            display: flex;
            flex-direction: column;
            max-width: 490px;
            margin: 70px auto;
            gap: 20px;
        }
        .beautiful-place h2{
            font-size: 35px;
            padding-top:0;
            padding-bottom: 15px;
        }
        .beautiful-place p{
            max-width: 490px;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            padding-bottom: 15px;
            
        }
        .list-style{
            list-style-type: disc;
            position: relative;
            left: 15px;  
        }
        .list-style >p{
            padding-bottom: 5px;
            font-size: 15px;
        }
        .beautiful-video img{
            width: 490px;
            height: 300px;
        }

        .offers{
            display: flex;
            flex-direction: column;
            max-width: 490px;
            margin: 0 auto;
            gap: 20px;
        }
        .offers-det{
            border: 1px solid rgb(255, 84, 0);
            border-radius: 5px;
            height: 450px;
            width: 490px;
        }
    
        .offers-limit img{
            width: 490px;
            height:320px;
            border-radius: 14px;
        }
        .offers-banner{
            width: 214px;
            height: 80px;
            position: relative;
            left: 270px;
            bottom: 115px;
        }
        .offers-banner>p{
            padding:0;
            font-size: 22px;
            position: relative;
            top: 11px;
    
        }
        .offers-banner>h2{
            padding-top: 10px;
            font-size: 18px;
            margin-left: 16px;
            
        }
    
        .offers-det>h4{
            margin: 15px 30px;
            font-size: 30px;
            padding-top: 30px;
        }
        .offers-det>p{
            margin: 15px 30px;
            font-size: 20px;
        }
    
    .user-info input[type="text"],
    .user-info input[type="email"]{
      width: 80%;
      padding: 13px;
      font-size: 15px;
      border-radius: 10px;
      margin-left: 37px;
      background-color: #F3F3F3;
    }
    hr{
        width: 86%;
    }
    .subscribe{
        width: 86%;
    }

    .footer-panel{
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: rgb(243, 243, 243);
        width: 700px;
        height: 350px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    
    .footer-logo{
        display: inline-flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 20px;
    }
    .footer-logo img{
        width: 40px;
        height: 40px;
    }
    .footer-hr{
        width: 60%;
        margin: 30px 0;
    }
    .footer-text{
        max-width: 600px;
        color: black;
        font-weight: 300;
    }
    .footer-copyright{
        color:crimson;
        font-size: 18px;
        font-weight: 600;
    }
    
}


